# Let's first ignore EVERYTHING
/*

# Don't ignore directories
!Final/
!"Lesson Code Snippets"/
!"Lesson Slides"/
!"Problem Sets"/
!"Student Contributions"/

# This file
!.gitignore

# Documentation
!*.md
!*.pdf

# CMAKE
!CMakeLists.txt

# Standard Makefiles
!Makefile

# Golden standards
!*.gold

# Source files
!*.cpp
!*.h
!*.cu 
