# Let's first ignore EVERYTHING
/*

# Don't ignore directories
!final/
!lesson_code_snippets/
!lesson_slides/
!problem_sets/
!student_contributions/

# This file
!.gitignore

# Documentation
!*.md
!*.pdf

# CMAKE
!CMakeLists.txt

# Standard Makefiles
!Makefile

# Golden standards
!*.gold

# Image data
!*.jpg
!*.png

# Source files
!*.cpp
!*.h
!*.cu 
